<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop	: true }"
    [template]="customLoadingTemplate">
</ngx-loading>

<app-header></app-header>

<section class="mainContent">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success">
                <strong>Completed!</strong> Ride was completed and Driver earned <strong>$20.00</strong>
                <span class="float-right">Nov 17, 2019</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="rideInfo bg-white p-3 boxshadow">
                <div class="row">
                    <div class="col-md-1 pr-0">
                        <img src="/assets/imgs/location.png">
                    </div>
                    <div class="col-md-6 pl-0">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente.</p>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente.</p>
                    </div>
                    <div class="col-md-3">
                        <p><i class="far fa-clock"></i> Pickup at: 10:19 AM</p>
                        <p class="mb-0"><i class="fas fa-map-marker-alt"></i> Dropped at: 11:11 AM</p>
                    </div>
                    <div class="col-md-2 text-right">
                        <p class="mt-3 mb-0"><i class="fas fa-route"></i> Distance: 20 km</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-4">
            <div class="anItem boxshadow bg-white p-3">
                <span class="badge float-right badge-dark">Rider</span>
                <div class="text-center">
                    <img class="userImg" src="/assets/imgs/user-1.jpg">
                </div>
                <h3>John Doe</h3>
                <p>john@email.com</p>
                <p>+123 456 7890</p>
                <p>
                    Avg. Rating <i class="fa fa-star yellow"></i> 4.5
                </p>
                <div class="text-center px-5 mt-3">
                    <button class="btn btn-primary w-100">View Profile</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="anItem boxshadow bg-white p-3">
                <span class="badge float-right badge-dark">Driver</span>
                <div class="text-center">
                    <img class="userImg" src="/assets/imgs/user-3.jpg">
                </div>
                <h3>Sam Doe</h3>
                <p>sam@email.com</p>
                <p>+123 456 7890</p>
                <p>
                    Avg. Rating <i class="fa fa-star yellow"></i> 4.5
                </p>
                <div class="text-center px-5 mt-3">
                    <button class="btn btn-primary w-100">View Profile</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="anItem boxshadow bg-white p-3">
                <img class="router" src="/assets/imgs/router.PNG">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="boxshadow bg-white p-3">
                <h4>Driver Review to Rider:</h4>
                <p class="my-1">
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star"></i>
                </p>
                <p class="my-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum totam dolore suscipit,
                    harum perspiciatis quo quidem explicabo</p>
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <div class="boxshadow bg-white p-3">
                <h4>Rider Review to Driver:</h4>
                <p class="my-1">
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star yellow"></i>
                    <i class="fa fa-star"></i>
                </p>
                <p class="my-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum totam dolore suscipit,
                    harum perspiciatis quo quidem explicabo</p>
            </div>
        </div>
    </div>

</section>